Package: com.peterdev.hiddy
Name: Hiddy
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), com.spark.libsparkapplist
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: PeterDev <djperter@icloud.com>
Author: PeterDev <djperter@icloud.com>
Section: Tweaks
