Package: com.peterdev.hiddy
Name: Hiddy
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 3.0), com.rpetrich.rocketbootstrap (>= 1.0.3) | firmware (<< 12.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: PeterDev <djperter@icloud.com>
Author: PeterDev <djperter@icloud.com>
Section: Tweaks
