<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
<!--Credits-->
    <dict>
    	<key>cell</key>
    	<string>PSGroupCell</string>
    	<key>label</key>
    	<string>DEVELOPER</string>
    </dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>PeterDev</string>
			<key>user</key>
			<string>iospeterdev</string>
		</dict>

<!--Enable-->

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.peterdev.hiddy</string>
			<key>key</key>
			<string>kEnable</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>PostNotification</key>
			<string>com.peterdev.hiddy/settingschanged</string>
		</dict>

		<!--AppList-->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>HIDE_APPS</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.peterdev.hiddy.applist/settingschanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Application</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Application</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.peterdev.hiddy.applist.plist</string>
		</dict>


<!--Links-->
<dict>
	<key>cell</key>
	<string>PSGroupCell</string>
	<key>label</key>
	<string>LINKS</string>
</dict>
<dict>
	<key>cellClass</key>
	<string>HBLinkTableCell</string>
	<key>icon</key>
	<string>paypal@2x.png</string>
	<key>label</key>
	<string>DONATE_TO_PETERDEV</string>
	<key>subtitle</key>
	<string>SUPPORT_ME</string>
	<key>url</key>
	<string>https://paypal.me/peterdevkr/</string>
</dict>
<dict>
	<key>cellClass</key>
	<string>HBLinkTableCell</string>
	<key>icon</key>
	<string>email@2x.png</string>
	<key>label</key>
	<string>E_MAIL</string>
	<key>subtitle</key>
	<string>SEND_BUG_TO_ME</string>
	<key>url</key>
	<string>mailto:djperter@icloud.com</string>
</dict>
<dict>
	<key>cell</key>
	<string>PSGroupCell</string>
	<key>footerText</key>
	<string>Hiddy by PeterDev</string>
	<key>isStaticText</key>
	<true/>
</dict>
	</array>
	<key>title</key>
	<string>Hiddy</string>
</dict>
</plist>
